.blog-hero {
  h1 {
    font-style: italic;
    color: #f07c82;
    font-size: 50px !important;
  }
  .description {
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
    color: #fbfcf8;
    font-size: 25px !important;
    opacity: 0.6 !important;
  }
}
